.firm-news {
  padding-top: 15px;
  margin-bottom: 50px;
  &__search-input {
    position: relative;
    width: 202px;
    i {
      font-size: 20px;
      color: $secondaryColor;
      top: 9px;
      right: -24px;
      position: absolute;
    }
  }
  &__search {
    border: none;
    width: 202px;
    font-size: 30px;
    font-family: $barlow;
    color: $secondaryColor;
    &::placeholder {
      color: $secondaryColor;
      font-family: $barlow;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .news-wrapper {
    margin-top: 38px;
  }
  &__title {
    color: #87b942;
    font-family: $barlow;
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
  }
  &__list {
    list-style-type: none;
    margin: 28px 0 0 0;
    padding: 0 0 0 25px;
    li {
      position: relative;
      font-family: $questrial;
      font-size: 20px;
      font-weight: 400;
      color: $secondaryColor;
      margin-bottom: 35px;
      a {
        color: $secondaryColor;
      }
      &:before {
        position: absolute;
        content: "";
        border: 6px solid transparent;
        border-left: 12px solid #87b942;
        left: -21px;
        top: 7px;
      }
    }
  }
  &__load-more {
    display: block;
    border-top: 1px solid $secondaryColor;
    color: #87b942;
    font-family: $questrial;
    font-size: 22px;
    font-weight: 400;
    line-height: 29.17px;
    text-transform: uppercase;
    margin: 40px 0 0 20px;
    padding: 10px;
  }
  &__image{
    height: 261px;
    width: 100%;
    object-fit: cover;
  }
}
