.practice-area-details {
  margin-top: 10px;
  &__content {
    padding: 25px 20px 70px 0;
    p {
      font-family: $opensans;
      font-size: 20px;
      color: #272d32;
      line-height: 25px;
      margin-bottom: 30px;
    }
  }
  &__title {
    font-family: $questrial;
    font-size: 30px;
    color: $primaryColor;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
