@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$oswald: "Oswald", sans-serif;
$unna: "Unna", sans-serif;
$questrial: "Questrial", sans-serif;
$barlow: "Barlow", sans-serif;
$ptsans: "PT Sans", sans-serif;
$opensans: "Open Sans", sans-serif;
