.careers {
  margin-top: 20px;
  .career-tabs {
    &__container {
      border-bottom: 1px solid #3d3d3d;
      line-height: 42px;
    }
    &__content {
      margin: 30px 0 100px 0;
      p {
        color: #272d32;
        font-family: $opensans;
        font-size: 20px;
        line-height: 25px;
      }
      h3 {
        color: $primaryColor;
        font-family: $questrial;
        font-size: 30px;
        margin: 0 0 15px 0;
      }
    }
    &__nav {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-left: -5px;
        &:last-child{
          a{
            border-right: none;
          }
        }
        &.ui-state-active {
          a {
            background: #272d32;
            color: $primaryColor;
          }
        }
        a {
          color: $secondaryColor;
          font-family: $questrial;
          font-size: 30px;
          padding: 10px 15px;
          text-decoration: none;
          border-right: 1px solid #3d3d3d;
        }
      }
    }
  }
}
